try-import user.bazelrc

--host_jvm_args=-Xmx1g
# TODO: remove experimental_google_legacy_api, it's used for ApkInfo
# in cpu_transition.bzl
build --compilation_mode=dbg --cxxopt=-std=c++17 --force_pic \
  --discard_analysis_cache --local_ram_resources=HOST_RAM*0.3 \
  --define=android_dexmerger_tool=d8_dexmerger \
  --fat_apk_cpu=armeabi-v7a,arm64-v8a \
  --experimental_google_legacy_api
query --experimental_google_legacy_api
